@import "tailwindcss";

@theme {
  --container-blogCardWidth: 300px;

  --font-sans: "Figtree", ui-sans-serif, system-ui, sans-serif;

  --color-theme-yellow: hsl(47, 88%, 63%);
  --color-theme-white:  hsl(0, 0%, 100%);
  --color-theme-lightgray: hsl(0, 0%, 42%);
  --color-theme-darkgray: hsl(0, 0%, 7%)

}

html,
body {
  @apply bg-theme-yellow min-h-screen text-[16px];
  


}
